.user_img{
    float: right;
    margin-top: 20px;
    position: absolute;
    top: 20px;
    right: 20px; 
}
.user_img img{
    height: 25%;
    width: 25%;
}
.user_img .item{
    display: none;
}
.user_img:hover .item{
    display: block;
    background-color:snow ;
    width: fit-content;
    padding: 15px;
}