.phenotype {
    
    /* align-items: center; */
    background: url('./stethoscope-doctor-s-desk_23-2147652338.jpg');
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;

    /* justify-content: flex-start; */
    height: 100vh; /* Adjust as needed */
  }
  
  .open_picker {
   
    display: flex;
    justify-content: center;
    align-items: center;
    height: 7vh;
    /* Adjust as needed */
  }
  .selectedfiles{
    cursor: pointer;
  }
  .pdf_viewer {
    margin-top: 20px; /* Adjust as needed */
  }
  
  /* Phenotype.css */


.selected_files {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 20px;
}

.selected_files > div {
  margin: 5px;
  padding: 10px;
  background-color: #f0f0f0;
  border-radius: 5px;
}

.pdf_viewers {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.pdf_viewer {
  width: 100%;
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f0f0f0;
}
.pdf_viewer iframe {
  width: 100%;
  background-color: rgb(247, 249, 251);
  height: 900px;
  border: none; /* Remove default iframe border */
}
.remove-icon {
  cursor: pointer;
  margin-left: 8px; /* Space between file name and icon */
  display: inline-block; /* Ensure it behaves like a button */
  vertical-align: middle; /* Aligns the icon vertically with text */
}

.remove-icon img {
  width: 20px; /* Adjust size as needed */
  height: 20px; /* Adjust size as needed */
}
